<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appSettings>
	
	<add key="CorsUrl" value="http://localhost:51726" />
	
	
	</appSettings>

	<location path="." inheritInChildApplications="false">
	
  <system.web>
    <httpRuntime maxRequestLength="15728640" />
  </system.web>

	 
    <system.webServer>
	
	<security> 
      <requestFiltering> 
         <!-- maxAllowedContentLength, for IIS, in bytes --> 
         <requestLimits maxAllowedContentLength="334217728"></requestLimits>
      </requestFiltering> 
   </security>
        <rewrite>
            <rules>
				<clear />
              
               
           <rule name="ReverseProxyInboundRule1" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
        <add input="{REQUEST_URI}" pattern="^/dmc_lead_api/(.*)" />
    </conditions>
    <action type="Rewrite" url="http://localhost:9081/{C:1}" />
</rule>
				
            </rules>
        </rewrite>
    </system.webServer>
	
	
	
	</location>
    
	
	
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="405-999" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
   </configuration>  